.btn {
  padding: 10.4px 39px;
  padding: 6.5px 26px;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btn-rounded {
  border-radius: 26px;
  padding-left: 26px;
  padding-right: 26px;
  text-transform: uppercase;
}

.btn-border {
  background: transparent;
  border-width: 3px;
  padding: .8em 2em;
}

.btn-border.btn-primary {
  border-color: $green;
  color: $green;

  &:hover {
    background-color: $green;
    color: $white;
  }
}
