.home-section-row {
  border-bottom: 1px solid #dadedf;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: left;
  @media (min-width: 576px) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}
.home-section {
  h3 {
    color: $gray-dark;
    margin: 0 0 13px;
    font-size: 20px;
    font-weight: 700;
  }
  p:last-of-type {
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
    @media (min-width: 576px) {
      margin-bottom: 0;
    }
  }
}
.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 576px) {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  h2 {
    font-size: 45px;
    color: #27292e;
    font-weight: 700;
    margin: 0 0 78px;
  }

}
.quote {
    color: #141414;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    margin-bottom: 26px;
}

.home-section-right {
  text-align: left;
  @media (min-width: 576px) {
    text-align: right;
  }
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #141414;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: #141414;
    font-size: 30px;
    margin-bottom: 0;
    min-height: 120px;
    line-height: 1.625;
}

.green-bg {
  padding-top: 104px;
  padding-bottom: 104px;
  background: $green;
  color: #fff;

  h2 {
    margin-bottom: 13px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.25;
  }

  p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
    font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.625;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  a {
    border-radius: 52px;
    font-size: 14px;
    padding: 10px 25px;
    line-height: 26px;
    color: #141414;
    background-color: rgba(225, 225, 225, 0.9);
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    display: inline-block;
    @media (min-width: 575px) {
      font-size: 20px;
      padding: 20px 52px;
    }
  }
}
