.carousel {
  padding: 0;
  position: relative;
  background-position: center center;

  img {
    width: 100%;
  }
}

.item {
  position: relative;
}

.hero-content {
  background-size: cover;
  padding: 80px 0;
  width: 100%;
  z-index: 2;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $roboto;
}

.hero-description {
  color: #ffffff;
  padding: 52px;
  position: relative;
  margin: auto;
  text-align: center;
  width: 450px;

  &:before {
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #ffffff;
    content: "";
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &:after {
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: #ffffff;
    bottom: 0;
    content: "";
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.hero-quote {
  border-bottom: 1px solid;
  display: inline-block;
  font-size: 42px;
  padding-bottom: 22px;
  margin: 26px -100%;
}

.hero-index {
  font-size: 80px;
  font-weight: 500;
  margin: 52px -100%;
  text-transform: uppercase;
}

@media screen and (max-width: 1400px){
  .hero-index {
      margin: 26px -100%;
  }
}

.hero-des {
  font-size: 24px;
  margin-bottom: 0;
  padding-top: 22px;
  font-family: $roboto;
}

.carousel-control {
  span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    font-weight: normal;
  }
}
