//Colors
$gray: #27292e;
$gray-light: #dadedf;
$gray-medium: #96a1a3;
$gray-nav: #505656;
$gray-dark: #141414;
$white: #fff;

//fonts
$helvetica: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
