<div data-spy="affix" data-offset-top="300" id="back-to-top" class="back-to-top hidden-xs hidden-sm affix">
  <button class="btn btn-primary" title="Back to Top" onclick="topFunction()"><i class="fa fa-arrow-up"></i></button>
</div>
