<div class="bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <dl class="info-list">
    			<dt>
    				<i class="fa fa-phone"></i><span>Phone</span>
    			</dt>
          <dd>+506 8821-4586</dd>
    			<dt>
    				<i class="fa fa-envelope-o"></i><span>Mail</span>
    			</dt>
          <dd>info@LaDulceVidaCR.com</dd>
    		</dl>
      </div>
      <div class="col-xs-12 col-sm-4 pull-right text-right">
        <%= partial "partials/general/language_switcher" %>
      </div>
    </div>
  </div>
</div>
