<div class="bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-8">
        <dl class="info-list">
    			<dt>
    				<a href="tel:+506-8938-1031"><i class="fa fa-phone"></i><span>Phone</span></a>
    			</dt>
          <dd><a href="tel:+506-8938-1031">+506 8938-1031</a></dd>
    			<dt>
    				<a href="mailto:info@ladulcevidacr.com"><i class="fa fa-envelope-o"></i><span>Mail</a></span>
    			</dt>
          <dd><a href="mailto:info@ladulcevidacr.com">info@LaDulceVidaCR.com</a></dd>
    		</dl>
      </div>
      <div class="col-xs-6 col-sm-4 pull-right text-right">
        <%= partial "partials/general/language_switcher" %>
      </div>
    </div>
  </div>
</div>
