<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
				<h2>La Dulce Vida</h2>
         <p>This website is not related, owned or in any way controlled by Hacienda Pinilla. Hacienda Pinilla, its owners, developers, managers etc do not have any relationship with La Dulce Vida and none of the representations and statements contained in this website are binding to Hacienda Pinilla. &nbsp;La Dulce Vida is a private community located within Hacienda Pinilla and is owned and operated by Bella Alianza Ltd.</p>
      </div>
		</div>
  </div>
</footer>
