<% @homelink = "/"%>
<header class="affix-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2 logo">
				<div class="logo-image">
          <a href="<%= @homelink %>" title="La Dulce Vida">
	          <img class="logo-img" src="/images/la-dulce-vida-logo.png" alt="La Dulce Vida">
            <span>La Dulce Vida</span>
          </a>
        </div>
      </div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right mainnav">
          <% directories = ['la-dulce-vida', 'hacienda-pinilla', 'beach-club', 'costa-rica', 'golf', 'enjoy-explore', 'contact-us'] %>
          <% directories.each do |r| %>
            <li <%= "class='dropdown'" unless ['contact-us', 'golf'].include? r %>>
              <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown">
                <%= t("site_navigation.#{r}") %> <% unless ['contact-us', 'golf'].include? r %><i class="fa fa-chevron-down"></i><% end %>
              </a>
              <% unless ['contact-us', 'golf'].include? r %>
                <ul class="dropdown-menu">
                  <% sitemap.resources.select{|p| p.url.include? r and p.metadata[:options][:locale] == I18n.locale and p.url.split('/').count > 2 }.uniq.sort_by {|obj| obj.data.weight}.each  do |page| %>
                    <% page_path = page.url.split('/').last.to_s %>
                    <li><%= link_to t("site_navigation.#{page_path}"), page.url %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>
</header>
