<ul class="list-unstyled">
  <% @opposite_locale = get_opposite_language(I18n.locale.to_s) %>
  <li class="language-switcher">
     <a href='<%= page_translation %>' class="<%= @opposite_locale %>" lang="<%= @opposite_locale %>">
       <%= image_tag "/images/flags/#{@opposite_locale}.svg", width: 20 %>
     </a>
  </li>
</ul>
