<section id="carousel" class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
          <% unless data.testimonials.items.nil? %>
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <% data.testimonials.items.each_with_index do |t, i| %>
                <li data-target="#fade-quote-carousel" data-slide-to="<%= i %>" <%= 'class="active"' if i == 0 %>></li>
              <% end %>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <% data.testimonials.items.each_with_index do |t, i| %>
                <div class="<%= 'active ' if i == 0 %>item">
                  <blockquote>
                    <%= t.content %>
                  </blockquote>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
