---
layout: home
---
<%= partial 'partials/general/slider' %>
<div class="container">
  <div class="row home-section-row">
    <div class="col-md-6 home-section">
      <img src="/images/home/home-01.jpg" alt="A Community Rivaled Only By Its Surroundings." class="img-responsive" />
    </div>
    <div class="col-md-6 home-section">
      <h3>A Community Rivaled Only By Its Surroundings.</h3>
      <p>Located in Hacienda Pinilla’s 4,500-acre gated resort lies La Dulce Vida, a private residential development project in Costa Rica that boasts some of the most amazing beaches and one of the finest golf courses in Central America. La Dulce Vida is exclusive, pristine and worlds away from hurried everyday life offering secluded beaches, lakes, golf, wildlife refuge and world class amenities. Yet, this tropical haven is just 45 minutes away from Liberia’s International Airport.</p>
      <p>Unlike other developments in Hacienda Pinilla, we offer a gated beach community consisting of 24 unique home sites that are direct beachfront or situated along the striking fairway of hole 14. Residents of La Dulce Vida are afforded amazing views, and the ultimate in privacy and unparalleled service in an internationally recognized resort and established community that already draws people from all over the world.</p>
    </div>
  </div>
  <div class="row home-section-row">
    <div class="col-md-6 home-section text-right">
      <h3>Unlimited Amenities & Activities for The Entire Family</h3>
      <p>  Privileges of ownership in this private, gated enclave extend beyond the world-class amenities such as the exclusive Beach Club, JW Marriott & Spa, 3 miles of pristine beaches, Championship golf course, tennis & fitness center, year round tropical surf, an Equestrian Center, and an onsite medical clinic. Residents have the opportunity to enjoy a unique and tropical lifestyle, sharing and creating memories with family and friends in an eco wonderland. Residents interested in offshore fishing and scuba diving charters, sunset cruises, supermarkets, boutiques, restaurants, and night life can explore Tamarindo—a quaint beach town just 10 minutes away.</p>

      <p>Your home should be an oasis, a hassle-free, relaxing, safe environment that allows you to do more of what you love with the ones you love. Our full time, onsite Concierge Center will help you in achieving a perfect holiday each and every time you stay in the Hacienda. Whether it’s arranging housekeeping, grocery shopping, or making dinner, spa, or golf reservations, our outstanding staff will be ever ready and able to pamper you and your guests at your request. Additionally, the day-to-day maintenance responsibilities pertaining to your home can be handled while you and your guests relax and enjoy the carefree lifestyle you deserve.</p>

      <a class="btn btn-primary btn-rounded btn-border" href="/beach-club/ammenities">More about our Amenities</a>
    </div>
    <div class="col-md-6 home-section">
      <img src="/images/home/home-03.jpg" alt="Unlimited Amenities & Activities for The Entire Family" class="img-responsive" />
    </div>
  </div>
</div>
